
html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #000;
    color: white;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    Background-color: black;
  }
  
  .ouverture {
    width: 150px;
    margin-right: 10px;
  }
  
  h1 {
    margin: 0;
    flex: 1;
  }
  
  .en-tete {
    color: white;
  }
  
  .center-horizontal {
    width: 45%;
    height: auto;
    margin: 0 5%;
  }
  
  .ouverture {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  
  .ouverture img {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ops {
    margin-left: auto;
  }
  .ops a {
    margin-left: 10px;
  }
  .paragraphe-1 {
    font-size: 13px;
  }
  
  .wrapper {
    display: flex;
    align-items: center;
  }
  
  .left-paragraph {
    flex: 1;
    text-align: left;
    font-size: 25px;
    padding-right: 10px;
    max-width: 500;
    min-width: 500px
  }
  .image-synapse {
    float: left;
    margin-right: 600px;
  }
  .division {
    min-width: 1000px;
    max-width: 1000px;
    font-size: 13px;
  }
@media (max-width: 800px) {
    body {
        max-width: 1000px;
    }
    p, ul, ol {
        max-width: 800px;
    }
}
